<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>opret bruger</title>
</head>
<body>
<h1>opret en ny bruger</h1>

<form action ="#" th:action="@{/createUpdateUser}" th:object="${user}" method = "post">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" th:field="*{fname}"/>

    <label for="sname">Surname:</label>
    <input type="text" id="sname" th:field="*{sname}"/>

    <label for="password">Password:</label>
    <input type="text" id="password" th:field="*{password}"/>

    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{email}"/>

    <label for="phoneNumber">PhoneNumber:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}"/>

    <label for="weight">Weight:</label>
    <input type="text" id="weight" th:field="*{weight}"/>

    <label for="height">Height:</label>
    <input type="text" id="height" th:field="*{height}"/>

    <label for="age">Age:</label>
    <input type="text" id="age" th:field="*{age}"/>

    <label for="gender">Gender:</label>
    <input type="text" id="gender" th:field="*{gender}"/>

    <label for="activityLevel">Activity Level:</label>
    <input type="text" id="activityLevel" th:field="*{activityLevel}"/>

    <label for="goal">Goal:</label>
    <input type="text" id="goal" th:field="*{goal}"/>

    <label for="role">Role:</label>
    <input type="text" id="role" th:field="*{role}"/>

    <button type="submit">Opret</button>
</form>
<a href="/">Tilbage til login</a>
</body>
</html>